# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
bin/
env/
build/
develop-eggs/
dist/

eggs/
.eggs/
include/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
pip-selfcheck.json
pyvenv.cfg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Django files
db.sqlite3
hacky_blog/apps/blog/migrations/
